.footer__column-element {
  display: flex;
  align-items: baseline;
}

.footer__column-element:hover {
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

.footer__column-element:link {
  color: white;
  text-decoration: none;
}

.footer__column-element:visited {
  color: white;
  text-decoration: none;
}
